header.header
    // search
    .header-content.f-space
        // search left
        .header-left.search-form.f-sm
            img.logo(src='/img/site/logo.webp')
            .common-search-input.search-form(data-positionel-btn='' data-positionel-name='search-dropdown' data-positionel-manual-btn='')
                i.fa.fa-search(data-action='search' aria-hidden='true')
                input(placeholder='Search Medium')

        // search-right
        .header-right.f-sm

            // write blog
            a.header-box.f-lw.header-write-blog(href='/write')
                i.fa.fa-edit(aria-hidden='true')
                p.t-md Write

            // show notifications
            a.header-box.f.header-notifications(href='/me/notifications')
                i.fa.fa-bell-o(aria-hidden='true')

            // show account options
            .header-box.f.header-profile.f-sl.pointer(data-positionel-btn='' data-positionel-name='userProfile-options-dropdown')
                img.img-avatar(src=`/img/users/${userData.avatar}` alt='')
                i.fa.fa-angle-down(aria-hidden='true')
