extends ../../base_template/_base



block section 
    

block positionels
    div.positionels
        include ./dropdown/addOrRemoveBlogFromReadinglistDropdown
        include ./dropdown/blogOptionsDropdown
        include ./dropdown/searchDropdown
        include ./dropdown/userProfileOptionsDropdown

        include ./modal/createNewReadingList

        // login And Signup Page
        include ../auth/form/login
        include ../auth/form/signup
    
    

        block morePositionels





