extends ../base_template/_base



block section 
    

block positionels
    include ./dropdown/
    include ./dropdown/addOrRemoveBlogFromReadinglistDropdown
    include ./dropdown/blogOptionsDropdown
    include ./dropdown/searchDropdown
    include ./dropdown/userProfileOptionsDropdown

    include ./modal/createNewReadingList
   
   

    block morePositionels


block row 



