// blog options
.dropdown.positionel(data-positionel-type='dropdown' data-positionel-name='blog-options-dropdown' data-active='false' data-pointer-position='center' data-position='center' data-delay-hide='false' data-load-spinner='false' data-static='false' data-has-defined-class='true' data-hide-by='default' data-animation='fade' data-show-event='click' data-set-positionbtn-width='false' data-child-positionel='false')
    .overlay.overlay-t
    .positionel-container(style='')
        .positionel-square
        // trigger btn-> when click hide content will show
        .positionel-content
            ul.list(data-col='1' data-text-wrap='')
                .list-container
                    li.list-item(data-action='mute-author')
                        p Mute this author
                    li.list-item(data-action='report')
                        p Report
