// search dropdown
.positionel.dropdown(data-positionel-name='search-dropdown' data-positionel-type='dropdown' data-active='false' data-pointer-position='left' data-position='left' data-delay-hide='false' data-load-spinner='false' data-static='false' data-has-defined-class='true' data-hide-by='default' data-animation='fade' data-show-event='click' data-set-positionbtn-width='true' data-child-positionel='false')
    .overlay.overlay-t
    .positionel-container(style='top: 8rem; right: 91rem; left: unset')
        .positionel-square
        // trigger btn-> when click hide content will show
        .positionel-content
            ul.list(data-col='2' data-list='user' data-item-hover='false')
                .list-container
                    h.list-title.dim
                        span  PEOPLE 
                        .line-dim
                    .list-content
                        a.list-item
                            img.img-avatar(src='../../../../img/users/default.png' alt='')
                            p Arnold Schemwarzenegger
            ul.list(data-col='1' data-list='blog' data-item-hover='false')
                .list-container
                    h.list-title.dim
                        span  Blogs 
                        .line-dim
                    .list-content
                        a.list-item
                            img.img-avatar(src='../../../../img/users/default.png' alt='')
                            p Arnold Schemwarzenegger