// userProfile dropdown
.dropdown.positionel(data-positionel-type='dropdown' data-positionel-name='userProfile-options-dropdown' data-active='false' data-pointer-position='right' data-position='right' data-delay-hide='false' data-load-spinner='false' data-static='false' data-has-defined-class='false' data-hide-by='default' data-animation='fade' data-show-event='click' data-set-positionbtn-width='false' data-child-positionel='false')
    .overlay.overlay-t
    .positionel-container(style='top: 8rem; right: 91rem; left: unset')
        .positionel-square
        // trigger btn-> when click hide content will show
        .positionel-content
            ul.list(data-col='2')
                .list-container
                    a.list-item
                        i.fa.fa-user-o(aria-hidden='true')
                        p.f-size Profile
                    a.list-item
                        i.fa.fa-bookmark-o(aria-hidden='true')
                        p.f-size Library
                    a.list-item
                        i.fas.fa-file-alt(aria-hidden='true')
                        p.f-size Stories
                    a.list-item
                        i.fas.fa-chart-bar(aria-hidden='true')
                        p.f-size Stats
            .line-dim.mg-v-lw
            ul.list(data-col='1')
                .list-container
                    a.list-item
                        p Settings
                    a.list-item
                        p Refine recommendations
                    a.list-item
                        p Manage publications
                    .line-dim.mg-v-lw
                    a.list-item(href='')
                        p Sign out
                        p= me.email