.positionel.modal(data-positionel-type='modal' data-positionel-name='login-enter-email' data-active='false' data-load-spinner='false' data-animation='fade' data-pointer-position='none' data-position='fixed' data-delay-hide='false' data-show-event='click' data-static='false' data-has-defined-class='true' data-child-positionel='false' data-width='md' data-form='true' data-hide-form-after-submit='true')
  .overlay
  .positionel-container.modal-container.container-100(style='position: fixed; top: 50%; left: 50%')
    button.btn-icon.positionel-closebtn
      i.fa.fa-times(aria-hidden='true')
    // first content
    .positionel-content(data-content='1')
      // header
      header.modal-header(style='display: block; height: unset')
        p.h-3.h-d Login
        p.pt-md.mg-md
          | Enter the email address associated with your account.
      footer.modal-footer
        form.form(data-error='false' onsubmit='return false;' data-clear-inputs-when-hide='true' data-url='auth/login' data-method='post' data-submit-automatic='true' data-data='')
          .form-container
            .form-group(data-error='false' data-required='true')
              input(type='email' name='email' placeholder='Email' data-input='' maxlength='60')
              .form-error
                i.fa.fa-exclamation-circle
                p Please enter a correct email
            .form-group(data-error='false' data-required='true')
              input(type='password' name='password' placeholder='Password' data-input='' minlength='4')
              .form-error
                i.fa.fa-exclamation-circle
                p Please enter a correct password
            // learn more tooltip
            // modal-btns
            .form-btns.f-jc
              button.btn-black(data-action='submit')
                | Continue
    data.positionel-content.hidden(data-content='2')
      .modal-footer.f-c
        p
          | Go to mailtrap and click on
          span.dark Verify
          |  button t
